<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Watch Video</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100">
    <div class="container mx-auto py-8">
      <div class="max-w-3xl mx-auto bg-white p-8 rounded-lg shadow-md">
        <h1 class="text-3xl font-semibold text-gray-800 mb-4">Video Content</h1>
        <div class="w-full aspect-w-16 aspect-h-9">
          <video
            controls
            class="w-full h-full"
            preload="metadata"
            controlsList="nodownload"
          >
            <source src="{{ movie.video.url }}" type="video/mp4" />
            <!-- Provide alternate content here for browsers that do not support video playback -->
            Your browser does not support the video tag.
          </video>
        </div>
        <p class="mt-4 text-red-700 text-xs uppercase font-bold">
          Please go back using system navigation.
        </p>
      </div>
    </div>
  </body>
</html>
